* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.main-container {
    width: 100%;
    flex: 1;
}

img {
    max-height: 100vh;
    width: auto;
    display: block;
}

.form-container {
    background-color: whitesmoke;
    height: auto;
    flex-grow: 1;
}